#s-59bd003f-f396-4893-98bd-a847515fd9a8 > #backgroundBox {
  position: absolute;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 > #alignmentBox {
  position: relative;
  max-width: 412.0px;
  max-height: 732.0px;
  width: 100%;
  height: 100%;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Panel_1 {
  width: 100.0%;
  height: 100.0%;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Panel_1 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Panel_1 td.layout {
  padding: 85px 0px 0px 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_1 {
  position: absolute;
  width: 360.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_1 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_1 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_1 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_1 {
  width: 42.0px;
  height: 42.0px;
  min-height: 42.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_1 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FAA8AC;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/45629371-f302-424a-957f-4ba99af54030.png');
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_2 {
  position: absolute;
  width: 360.0px;
  min-height: 67.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_2 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_2 {
  width: 42.0px;
  height: 42.0px;
  min-height: 42.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_2 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FF0000;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/64b8865c-86cb-4a07-b86d-4b9df5f16436.png');
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_3 {
  position: absolute;
  width: 359.0px;
  min-height: 67.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_3 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_3 {
  width: 42.0px;
  height: 42.0px;
  min-height: 42.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_3 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #9DD4BE;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/8463f44d-f4a4-421b-8acc-f25e4d528af8.png');
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_4 {
  position: absolute;
  width: 360.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_4 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_4 {
  width: 42.0px;
  height: 42.0px;
  min-height: 42.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_4 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #9DA6A5;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/fd1a31a5-7109-47ce-b986-b852984e36fd.png');
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_5 {
  position: absolute;
  width: 360.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_5 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_1 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_1 span {
  color: #959595;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #959595;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_5 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_5 {
  width: 42.0px;
  height: 42.0px;
  min-height: 42.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_5 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #BDBCB4;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/f4371670-a4ff-44f2-b1ee-3b323d4b1e43.png');
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_6 {
  position: absolute;
  width: 360.0px;
  min-height: 67.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_6 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_6 {
  width: 42.0px;
  height: 42.0px;
  min-height: 42.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_6 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #FAA8AC;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/52cf599e-45f3-4cf3-b022-42e53999205d.png');
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_7 {
  position: absolute;
  width: 360.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_7 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_2 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_2 span {
  color: #959595;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #959595;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_7 {
  width: 42.0px;
  height: 42.0px;
  min-height: 42.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_7 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #D4D4C7;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_7 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/21a44f4c-2cbe-470e-89fb-c993f2d70169.png');
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_8 {
  position: absolute;
  width: 360.0px;
  min-height: 67.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_8 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_8 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_8 span#rtr-s-Rectangle_8_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_3 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_3 span {
  color: #959595;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #959595;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_8 {
  width: 42.0px;
  height: 42.0px;
  min-height: 42.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_8 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #FEAE25;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_8 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/a48e3f46-867d-4c27-a8b8-9fb5b2463142.png');
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_9 {
  position: absolute;
  width: 360.0px;
  min-height: 67.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_9 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_9 span#rtr-s-Rectangle_9_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_4 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_4 span {
  color: #959595;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #959595;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_9 {
  width: 42.0px;
  height: 42.0px;
  min-height: 42.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_9 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #DEEBE6;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_9 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/b671355b-aab2-4084-9d7d-9c9b02805c66.png');
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_9 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_10 {
  position: absolute;
  width: 360.0px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_10 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 140px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_11 {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_11 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_11 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_2 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_2 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_3 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_3 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_4 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_4 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_10 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_10 {
  position: absolute;
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_10 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_10 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_10 > .backgroundLayer > .colorLayer {
  background-color: #007AFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_11 {
  position: absolute;
  filter: none;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_11 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Ellipse_11 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_5 {
  position: absolute;
  width: 38.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_5 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_12 {
  position: absolute;
  width: 100.0%;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_12 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_12 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_5 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_5 span {
  color: #676767;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #676767;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_6 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_6 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_7 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_7 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_8 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_8 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_6 {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_6 {
  box-shadow: none;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_6 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_9 {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-59bd003f-f396-4893-98bd-a847515fd9a8 #s-Image_9 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-59bd003f-f396-4893-98bd-a847515fd9a8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}