#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 > #backgroundBox {
  position: absolute;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 > #alignmentBox {
  position: relative;
  max-width: 412.0px;
  max-height: 732.0px;
  width: 100%;
  height: 100%;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_1 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_2 {
  position: absolute;
  width: 100.0%;
  min-height: 141.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_2 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 19px;
  padding-left: 36px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_2 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_3 {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_3 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_1 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_1 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_2 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_2 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_3 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_3 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_4 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_4 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_5 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_5 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_6 {
  position: absolute;
  width: 74.0px;
  height: 74.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_6 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_7 {
  position: absolute;
  width: 74.0px;
  height: 74.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_7 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Ellipse_1 {
  width: 19.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Ellipse_1 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_8 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(45.0deg);
  -moz-transform: rotate(45.0deg);
  transform: rotate(45.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_8 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Ellipse_2 {
  width: 19.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Ellipse_2 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_9 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(45.0deg);
  -moz-transform: rotate(45.0deg);
  transform: rotate(45.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_9 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Panel_1 {
  width: 95.0%;
  height: 331.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Panel_1 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 {
  position: absolute;
  width: 74.11764499999998%;
  min-height: 94.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 20px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_1 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 {
  position: absolute;
  width: 73.97661%;
  min-height: 67.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_2 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 {
  position: absolute;
  width: 73.97661%;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_6 span#rtr-s-Rectangle_6_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_3 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_4 {
  position: absolute;
  width: 100.0%;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_4 {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: #607D8B;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_10 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_10 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_11 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_11 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_12 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_12 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_5 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_7 {
  position: absolute;
  width: 100.0%;
  min-height: 35.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_7 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_6 {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_6 {
  box-shadow: none;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_13 {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 #s-Image_13 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dc02a7b9-f6ad-47a8-9d09-42a578823be1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}